".idea" 
.idea/
.vscode/
/sql/
*.log
*.log.*
/nohup.out
__pycache__
celerybeat*
/whoosh_index/
/python_main.py
*.db
/celerybeat-schedule
*.dump
*.DS_Store
.vscode
*.gz
**/CACHE/
beyondh_test.py
/venv/
import-data-local.sh
*.lock
*.pyc
*.lock
*.db.*
